/* COMMON */
html {
  font-size: 16px;
}
body {
  /* font-family: "맑은고딕", 돋움, 굴림; */
}
.section {
  border-bottom: 1px solid grey;
}

.summary {
  font-size: 2em;
  text-decoration: underline;
  background: #e9ecef;
  border-bottom: 1px solid grey;
  padding-left: 10px;
  padding-bottom: 10px;
}

.nanum{
  font-size: 2rem;
  font-family: 'Nanum Pen Script', cursive;
}

