/* COMMON */
.section {
  border-bottom: 1px solid grey;
}

.summary {
  font-size: 40px;
  text-decoration: underline;
  background: #e9ecef;
  border-bottom: 1px solid grey;
  padding-left: 10px;
  padding-bottom: 10px;
}

header .menu-group .main-menu {
  list-style: none;
}

header .menu-group .main-menu .menu{
  list-style: square;
}